body {
  font-family: Arial, Helvetica, sans-serif !important;
}

/* --- BARRA DE NAVEGAÇÃO --- */

.navbar-brand {
  color: #ffffff !important;
  margin: 2px 0;
  margin-right: 35%;
  margin-left: 4rem;
  border-bottom: 4px solid #005f87 !important;
}

/* .navbar-brand:hover {
  border-bottom: 4px solid #ffffff !important;
} */

.nav-link {
  color: #ffffff !important;
  border-bottom: 4px solid #005f87 !important;
  margin-right: 1rem;
}

.nav-link:hover {
  border-bottom: 4px solid #fff !important;
  transition: filter 0.4s ease !important;
  transform: translateY(2px) !important;
}

.nav-tabsbg {
  background-color: #0066b3;
}

.bg-body-tertiary {
  background-color: #005f87 !important;
  color: white !important;
}


.btn {
  color: #fff !important;
}

.btn:hover {
  border-bottom: 3px solid #fff !important;
  transition: filter 0.4s ease !important;
  transform: translateY(2px) !important;
}

.h1 {
  color: #fff !important;
  margin-left: 50px !important;
}

.h2 {
  margin: 40px 0 !important;
  font-size: 20px !important;
}

footer {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #0072a3;
  color: white;
  text-align: center;
  padding: 15px 10px;
  margin-top: 40px;
  box-sizing: border-box;
}