@font-face {
    font-family: 'Neuton';
    src: url(Neuton-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neuton', Arial, Helvetica, sans-serif;
  }

  .quem-somos-section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 40px;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    
  }

header{
    display: flex;
    width: auto;
    height: 93px;
    background-color: #223A51;
}
.subtitulo{
    text-align: left;
    width: 212px;
    height: 86px;
    text-shadow: 2px 2px 2px 2px rgba(00, 00, 00, 0.5);
    /*font-family: 'neuton', Arial, Helvetica, sans-serif;*/
}

.titulo-quemsomos{
    padding: auto;
    border-spacing: 10px;
    text-align: unset;
    transform: translate3d(-5px, -25px, 0px);
    /*font-family: 'neuton', Arial, Helvetica, sans-serif;*/
    font-size: 24px;
    display: flex;
    .somos{
        transform: translate3d(-111px, 60px, 0px);
        padding: auto;
    }
}
.destaque{
    font-size: 64px;
}
/*.somos{
  transform: translate3d(-115px, 60px, 0px);
 
}
.imagens{

}*/