
body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.palavra {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
  font-size: 30px;
}

.dropzone {
  width: 40px;
  height: 40px;
  border: 2px dashed #888;
  display: inline-block;
}

.letras {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.letra {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  line-height: 40px;
  cursor: grab;
  border-radius: 5px;
}
.star{
  text-align: center;
  transform: translateY(15px);
  width: 50px;
  height: 50;
  margin: auto;
  padding: 5px;
}