@font-face {
    font-family: 'Neuton';
    src: url(Neuton-Regular.ttf);
}
header{
    width: 1440px;
    height: 89px;
    background-color: #223A51;
}
.subtitulo{
    text-align: left;
    width: 212px;
    height: 86px;
    text-shadow: 2px 2px 2px 2px rgba(00, 00, 00, 0.5);
    font-family: 'neuton', Arial, Helvetica, sans-serif;
}
.divSub{
    margin: 5px;
    padding: 1px;
}